In [1]:
# æœ€å°å¯è¿è¡Œé¡¹ç›®ï¼šåŸºäºLSTMçš„è‚¡ç¥¨èµ°åŠ¿é¢„æµ‹ç³»ç»Ÿ
# æ­¥éª¤ï¼šé€‰è‚¡ + æŠ€æœ¯æŒ‡æ ‡ç”Ÿæˆ + æ»‘çª—æ ·æœ¬æ„å»º + LSTMæ¨¡å‹è®­ç»ƒ + é¢„æµ‹ + å¯è§†åŒ– + ä¹°å…¥ç­–ç•¥åˆ¤æ–­ + æ•°æ®ä¿å­˜

import pandas as pd
import numpy as np
import akshare as ak
import torch
import torch.nn as nn
from torch.utils.data import DataLoader, Dataset
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score, mean_squared_error
from sklearn.preprocessing import MinMaxScaler
import os

/home/chen_c6/miniconda3/envs/tf/lib/python3.9/site-packages/akshare/__init__.py:3154: UserWarning: ä¸ºäº†æ”¯æŒæ›´å¤šç‰¹æ€§ï¼Œè¯·å°† Pandas å‡çº§åˆ° 2.2.0 åŠä»¥ä¸Šç‰ˆæœ¬ï¼
  warnings.warn(

In [2]:
###############################
# 1. é€‰è‚¡é€»è¾‘ï¼šè·å–æ²ªæ·±300ä¸­å‰10åªè‚¡ç¥¨ï¼ˆæŒ‰ä»£ç æ’åºï¼‰
###############################

stocks = ak.index_stock_cons(symbol="000300")
stocks = stocks.sort_values("å“ç§ä»£ç ").reset_index(drop=True)

In [3]:
stocks

       å“ç§ä»£ç   å“ç§åç§°        çº³å…¥æ—¥æœŸ
0    000001  æ·±å‘å±•A  2005-04-08
1    000001  æ·±å‘å±•A  2005-04-08
2    000002   ä¸‡ç§‘A  2005-04-08
3    000063  ä¸­å…´é€šè®¯  2005-04-08
4    000063  ä¸­å…´é€šè®¯  2005-04-08
..      ...   ...         ...
295  688396   åæ¶¦å¾®  2021-06-15
296  688472   é˜¿ç‰¹æ–¯  2024-12-16
297  688506  ç™¾åˆ©å¤©æ’  2024-12-16
298  688599  å¤©åˆå…‰èƒ½  2021-12-13
299  688981  ä¸­èŠ¯å›½é™…  2021-12-13

[300 rows x 3 columns]

In [4]:
selected_codes = list(stocks.loc[:9, 'å“ç§ä»£ç '])

In [5]:
selected_codes

['000001',
 '000001',
 '000002',
 '000063',
 '000063',
 '000100',
 '000157',
 '000157',
 '000166',
 '000301']

In [6]:
df = ak.stock_zh_a_hist(symbol="000063", period="daily", start_date="20250801", adjust="qfq")

In [7]:
df

,æ—¥æœŸ,è‚¡ç¥¨ä»£ç,å¼€ç›˜,æ”¶ç›˜,æœ€é«˜,æœ€ä½,æˆäº¤é‡,æˆäº¤é¢,æŒ¯å¹…,æ¶¨è·Œå¹…,æ¶¨è·Œé¢,æ¢æ‰‹ç‡
0,2025-08-01,000063,34.23,33.90,34.58,33.56,785985,2.674809e+09,2.97,-1.14,-0.39,1.95
1,2025-08-04,000063,33.60,33.87,33.88,33.59,379288,1.279439e+09,0.86,-0.09,-0.03,0.94
2,2025-08-05,000063,33.93,34.42,34.55,33.93,614925,2.104821e+09,1.83,1.62,0.55,1.53
3,2025-08-06,000063,34.35,34.55,35.05,34.08,604127,2.085995e+09,2.82,0.38,0.13,1.50
4,2025-08-07,000063,34.54,34.19,34.69,34.02,598500,2.049472e+09,1.94,-1.04,-0.36,1.49
5,2025-08-08,000063,34.16,33.78,34.19,33.75,484312,1.642794e+09,1.29,-1.20,-0.41,1.20
6,2025-08-11,000063,33.79,34.00,34.16,33.78,500378,1.702019e+09,1.12,0.65,0.22,1.24

In [8]:
try:
    import pandas_ta as ta
except ModuleNotFoundError:
    raise ModuleNotFoundError("pandas_ta æœªå®‰è£…ï¼Œè¯·è¿è¡Œ pip install pandas-ta")

In [10]:
df = df.rename(columns={"æ—¥æœŸ": "date", "å¼€ç›˜": "open", "æ”¶ç›˜": "close", "æœ€é«˜": "high", "æœ€ä½": "low", "æˆäº¤é‡": "volume"})

In [11]:
df.ta.sma(length=5, append=True)

0       NaN
1       NaN
2       NaN
3       NaN
4    34.186
5    34.162
6    34.188
Name: SMA_5, dtype: float64

In [12]:
df

,date,è‚¡ç¥¨ä»£ç,open,close,high,low,volume,æˆäº¤é¢,æŒ¯å¹…,æ¶¨è·Œå¹…,æ¶¨è·Œé¢,æ¢æ‰‹ç‡,SMA_5
0,2025-08-01,000063,34.23,33.90,34.58,33.56,785985,2.674809e+09,2.97,-1.14,-0.39,1.95,NaN
1,2025-08-04,000063,33.60,33.87,33.88,33.59,379288,1.279439e+09,0.86,-0.09,-0.03,0.94,NaN
2,2025-08-05,000063,33.93,34.42,34.55,33.93,614925,2.104821e+09,1.83,1.62,0.55,1.53,NaN
3,2025-08-06,000063,34.35,34.55,35.05,34.08,604127,2.085995e+09,2.82,0.38,0.13,1.50,NaN
4,2025-08-07,000063,34.54,34.19,34.69,34.02,598500,2.049472e+09,1.94,-1.04,-0.36,1.49,34.186
5,2025-08-08,000063,34.16,33.78,34.19,33.75,484312,1.642794e+09,1.29,-1.20,-0.41,1.20,34.162
6,2025-08-11,000063,33.79,34.00,34.16,33.78,500378,1.702019e+09,1.12,0.65,0.22,1.24,34.188

In [ ]:
os.makedirs("data", exist_ok=True)


###############################
# 2. è·å–æ•°æ® + ç”ŸæˆæŠ€æœ¯æŒ‡æ ‡ + ä¿å­˜CSV
###############################

def fetch_and_process(code):
    df = ak.stock_zh_a_hist(symbol=code, period="daily", start_date="20220101", adjust="qfq")
    df = df.rename(columns={"æ—¥æœŸ": "date", "å¼€ç›˜": "open", "æ”¶ç›˜": "close", "æœ€é«˜": "high", "æœ€ä½": "low", "æˆäº¤é‡": "volume"})
    df['code'] = code
    df['date'] = pd.to_datetime(df['date'])
    df = df.sort_values('date')

    df.ta.sma(length=5, append=True)
    df.ta.rsi(length=14, append=True)
    df.ta.macd(append=True)

    df = df.dropna().reset_index(drop=True)
    df.to_csv(f"data/{code}_features.csv", index=False, encoding="utf-8-sig")
    return df

stock_dfs = [fetch_and_process(code) for code in selected_codes]
data = pd.concat(stock_dfs)


###############################
# 3. æ„å»ºæ»‘åŠ¨çª—å£æ ·æœ¬ï¼ˆ10å¤©é¢„æµ‹1å¤©ï¼‰
###############################
class StockDataset(Dataset):
    def __init__(self, df, seq_len=10):
        features = ['close', 'SMA_5', 'RSI_14', 'MACD_12_26_9']
        df = df.copy()
        scaler = MinMaxScaler()
        df[features] = scaler.fit_transform(df[features])

        self.x, self.y_cls, self.y_reg, self.last_close = [], [], [], []

        for _, stock in df.groupby('code'):
            stock = stock.reset_index(drop=True)
            for i in range(len(stock) - seq_len - 1):
                window = stock.iloc[i:i+seq_len]
                target = stock.iloc[i+seq_len]
                delta = (target['close'] - stock.iloc[i+seq_len-1]['close']) / stock.iloc[i+seq_len-1]['close']

                self.x.append(window[features].values)
                self.y_reg.append(delta)
                self.y_cls.append(1 if delta > 0 else 0)
                self.last_close.append(stock.iloc[i+seq_len-1]['close'])

    def __len__(self):
        return len(self.x)

    def __getitem__(self, idx):
        return (
            torch.tensor(self.x[idx], dtype=torch.float32),
            torch.tensor(self.y_cls[idx], dtype=torch.long),
            torch.tensor(self.y_reg[idx], dtype=torch.float32),
            self.last_close[idx]
        )

dataset = StockDataset(data)
train_size = int(0.8 * len(dataset))
train_set, test_set = torch.utils.data.random_split(dataset, [train_size, len(dataset) - train_size])
train_loader = DataLoader(train_set, batch_size=32, shuffle=True)
test_loader = DataLoader(test_set, batch_size=32)


###############################
# 4. æ„å»º LSTM æ¨¡å‹
###############################
class StockLSTM(nn.Module):
    def __init__(self, input_dim, hidden_dim):
        super().__init__()
        self.lstm = nn.LSTM(input_dim, hidden_dim, batch_first=True)
        self.fc_cls = nn.Linear(hidden_dim, 2)
        self.fc_reg = nn.Linear(hidden_dim, 1)

    def forward(self, x):
        out, _ = self.lstm(x)
        out = out[:, -1, :]
        return self.fc_cls(out), self.fc_reg(out).squeeze()

model = StockLSTM(input_dim=4, hidden_dim=64)
criterion_cls = nn.CrossEntropyLoss()
criterion_reg = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.001)


###############################
# 5. è®­ç»ƒæ¨¡å‹
###############################
for epoch in range(10):
    model.train()
    total_loss = 0
    for x, y_cls, y_reg, _ in train_loader:
        out_cls, out_reg = model(x)
        loss = criterion_cls(out_cls, y_cls) + criterion_reg(out_reg, y_reg)
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
        total_loss += loss.item()
    print(f"Epoch {epoch+1}, Loss: {total_loss:.4f}")


###############################
# 6. è¯„ä¼° + å¯è§†åŒ– + ä¹°å…¥å»ºè®®
###############################
model.eval()
y_true_cls, y_pred_cls = [], []
y_true_reg, y_pred_reg = [], []
last_closes, predicted_deltas = [], []

with torch.no_grad():
    for x, y_cls, y_reg, last_close in test_loader:
        out_cls, out_reg = model(x)
        y_true_cls += y_cls.tolist()
        y_pred_cls += out_cls.argmax(dim=1).tolist()
        y_true_reg += y_reg.tolist()
        y_pred_reg += out_reg.tolist()
        last_closes += last_close
        predicted_deltas += out_reg.tolist()

acc = accuracy_score(y_true_cls, y_pred_cls)
print(f"åˆ†ç±»å‡†ç¡®ç‡: {acc:.4f}")

rmse = mean_squared_error(y_true_reg, y_pred_reg, squared=False)
print(f"å›å½’RMSE: {rmse:.4f}")

plt.plot(y_true_reg[:100], label="True")
plt.plot(y_pred_reg[:100], label="Pred")
plt.title("æœªæ¥1æ—¥æ”¶ç›Šç‡é¢„æµ‹")
plt.legend()
plt.show()

print("\nğŸ“ˆ ä¹°å…¥å»ºè®®åˆ¤æ–­ï¼š")
threshold = 0.01
for i in range(len(predicted_deltas)):
    flag = "âœ… ä¹°å…¥" if predicted_deltas[i] > threshold else "âŒ è§‚æœ›"
    print(f"æ ·æœ¬{i}: é¢„æµ‹æ¶¨å¹… {predicted_deltas[i]*100:.2f}%ï¼Œå»ºè®®ï¼š{flag}")